//===================================================================
//  APP
//===================================================================
@import "../../common/styles";
.main {
  background: #6f405c;
  color: white;
  padding-bottom: 90px;
  font-family: 'Assistant','Open Sans', sans-serif;

  &.he {
    direction: rtl;
    text-align:right;
  }

  &.en {

  }

}
