<form #form="ngForm">
    <div>
        <input placeholder='{{"title" | translate}}' type="text" name="title" [(ngModel)]="task.title">
    </div>
    <div *ngIf="editContent && !editType && !editReason && !editProducts && !editConclusions">
        <textarea placeholder='{{"content" | translate}}' type="text" name="content" class="content-area" [(ngModel)]="task.content"> </textarea>
    </div>
    <div *ngIf="editType && !editReason && !editProducts && !editConclusions">
        <input type="text" placeholder='{{"type" | translate}}' name="type" [(ngModel)]="task.type">

    <!--    <p-autoComplete  (keydown.Enter)="typeEnter($event)" class="type-autocomplete" minLength="1" name="type"   [multiple]="true" [(ngModel)]="task.type" [suggestions]="typeResults"
                        (completeMethod)="searchType($event)" >
            <template let-typeQuery>
                <div class="ui-helper-clearfix choice-button">
                    {{typeQuery}}
                </div>
            </template>
        </p-autoComplete>-->
    </div>
    <div *ngIf="editReason && !editType && !editProducts && !editConclusions">
        <input type="text" placeholder='{{"reason" | translate}}' name="reason" [(ngModel)]="task.reason">
    </div>
    <div *ngIf="editProducts && !editReason && !editType && !editConclusions">
        <input type="text" placeholder='{{"products" | translate}}' name="products" [(ngModel)]="task.products">
    </div>
    <div *ngIf="editConclusions && !editReason && !editProducts && !editType">
        <input type="text" placeholder='{{"conclusions" | translate}}' name="conclusions" [(ngModel)]="task.conclusions">
    </div>
    <div class="actions-panel">
        <div class="edit-content action-button" [ngClass]="{active: editContent}" (click)="changeTab('editContent')">
            {{"content" | translate}}
        </div>
        <div class="edit-type action-button" [ngClass]="{active: editType}" (click)="changeTab('editType')">{{"type" |
            translate}}
        </div>
        <div class="edit-reason action-button" [ngClass]="{active: editReason}" (click)="changeTab('editReason')">
            {{"reason" | translate}}
        </div>
        <div class="edit-products action-button" [ngClass]="{active: editProducts}" (click)="changeTab('editProducts')">
            {{"products" | translate}}
        </div>
        <div class="edit-conclusions action-button" [ngClass]="{active: editConclusions}"
             (click)="changeTab('editConclusions')">{{"conclusions" | translate}}
        </div>
    </div>
    <button class="create-btn" type="button" (click)="onSave()">{{"submit" | translate}}</button>
</form>
