@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins";

//===================================================================
//  TASK-FORM
//===================================================================


.task-form {
  margin: 40px 0 10px;

  @include media-query(540) {
    margin: 80px 0 20px;
  }

}
.main {
  background     : #6f405c;
  color          : white;
  padding-bottom : 90px;
  font-family    : 'Assistant', 'Open Sans', sans-serif;

  &.he {
    direction  : rtl;
    text-align : right;
    .back-btn{
      color           : white;
      text-decoration : none;
      border          : 1px solid white;
      border-radius   : 10px;
      padding         : 10px;
      margin-top      : 30px;
      margin-bottom      : 30px;
      display         : inline-block;
      text-align      : center;
      width:200px;
      @include fa-icon(arrow-right);
      &:hover{
        background-color: #7d4565;
        cursor:pointer;
      }
      &:before {
        padding-right: 5px;
        padding-left: 5px;

        color: #fff;
        font-family: 'FontAwesome';
        line-height: 20px;
      }
    }
  }
  }
.back-btn{
  color           : white;
  text-decoration : none;
  border          : 1px solid white;
  border-radius   : 10px;
  padding         : 10px;
  margin-top      : 30px;
  margin-bottom      : 30px;
  display         : inline-block;
  text-align      : center;
  width:200px;
  @include fa-icon(arrow-left);
  &:hover{
    background-color: #7d4565;
    cursor:pointer;
  }
  &:before {
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
    font-family: 'FontAwesome';
    line-height: 20px;
  }
}
.add-photo-btn{
  color           : white;
  text-decoration : none;
  border          : 1px solid white;
  border-radius   : 10px;
  padding         : 10px;
  margin-top      : 30px;
  float:left;

  margin-bottom      : 30px;
  display         : block;
  text-align      : center;
  width:200px;
  @include fa-icon(camera);
  &:hover{
    background-color: #7d4565;
    cursor:pointer;
  }
  &:before {
    padding-right: 5px;
    padding-left: 5px;

    color: #fff;
    font-family: 'FontAwesome';
    line-height: 20px;
  }
}
.actions-panel {
  text-align:center;
  .action-button {
    display       : inline-block;
    width         : 6.5vw;
    height        : 6.5vw;
    border        : 1px solid white;
    border-radius : 50% 50%;
    margin        : 0.5vw;
    text-align    : center;
    line-height   : 2vw;
    padding-top   : 2vw;
    &:hover{
      background-color: #7d4565;
      cursor:pointer;
    }
    &.active{
      border        : 3px solid white;
      background-color: #96557b;
    }
    &.edit-content {
      @include fa-icon(edit);
      &:before {
        display     : block;
        font-size   : 4rem;
        color       : #fff;
        font-family : 'FontAwesome';
      }
    }
    &.edit-type {
      @include fa-icon(flag);
      &:before {
        display     : block;
        font-size   : 4rem;
        color       : #fff;
        font-family : 'FontAwesome';
      }
    }
    &.edit-reason {
      @include fa-icon(search-plus);
      &:before {
        display     : block;
        font-size   : 4rem;
        color       : #fff;
        font-family : 'FontAwesome';
      }
    }
    &.edit-products {
      @include fa-icon(gift);
      &:before {
        display     : block;
        font-size   : 4rem;
        color       : #fff;
        font-family : 'FontAwesome';
      }
    }
    &.edit-conclusions {
      @include fa-icon(bullhorn);
      &:before {
        display     : block;
        font-size   : 4rem;
        color       : #fff;
        font-family : 'FontAwesome';
      }
    }
  }
}

label{
  display:block;
}
.choice-button{
  display: inline-block;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 5px;
}
.ui-autocomplete-items{
  list-style: none;
  display: inline-block;
}
.ui-autocomplete-item{
  display: inline-block;
}


input 	 {
  font-family: 'Assistant','Open Sans', sans-serif;
  direction: rtl;
  text-align:right;
  outline: none;
  border: 1px solid white;
  width: 100%;
  height: 50px;
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 300;
  color: #fff;
  background: transparent;
  border-radius: 10px;
  padding:10px;
  font-size: rem(16px);

  @include media-query(540) {
    height: 61px;
    font-size: rem(32px);
  }


  // webkit input doesn't inherit font-smoothing from ancestors
  -webkit-font-smoothing: antialiased;

  // remove `x`
  &::-ms-clear {
    display: none;
  }
}
.content-area{
  width:100%;
  height: 40vh;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  outline: none;
  resize: none;
  overflow: auto;
  font-family: 'Assistant','Open Sans', sans-serif;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;

}


.create-btn {
  color           : white;
  text-decoration : none;
  border          : 1px solid white;
  border-radius   : 10px;
  padding         : 10px;
  margin-top      : 30px;
  display         : block;
  text-align      : center;
  background: transparent;
  width: 100%;
  &:hover{
    background-color: #7d4565;
    cursor:pointer;
  }
  @include fa-icon(paper-plane);
  font-size: rem(24px);

  @include media-query(540) {
    height: 61px;
    font-size: rem(32px);
  }
  &:before {
    padding-left: 5px;

    padding-right: 5px;
    color: #fff;
    font-family: 'FontAwesome';
    line-height: 20px;
  }
}

