@import "~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins";

//===================================================================
//  TASK-ITEM
//===================================================================

.task-item-wrap{
  width: 49.7%;
display: inline-table;
}
.task-item {
display:table-cell;
  vertical-align: middle;
  outline       : none;
  border-bottom : 1px dotted #666;
  overflow      : hidden;
  color         : #fff;
  font-size     : rem(18px);
  font-weight   : 300;
  padding: 10px;
  height: auto;

  @media screen and (max-width : 640px) {
    width: 100%;
  }

  @include media-query(540) {
    font-size : rem(24px);
  }
  .item-info-row{
    display       : flex;
  }
  .task-img{
    img{
      width:100%;
    }
  }
}

.task-item--editing {
  border-bottom : 1px dotted #ccc;
  height        : auto;

  .cell:last-of-type {

    display : table-cell;

    .cancel-edit {
      display        : table-cell;
      vertical-align : top;
    }
  }
}

.save-btn {
  color           : white;
  text-decoration : none;
  border          : 1px solid white;
  border-radius   : 10px;
  padding         : 10px;
  margin-top      : 30px;
  margin-bottom   : 30px;
  display         : block;
  text-align      : center;
  width           : 200px;
  width           : 100%;
  background      : transparent;
  @include fa-icon(floppy-o);
  font-size       : rem(24px);

  &:before {
    padding-right : 5px;
    color         : #fff;
    font-family   : 'FontAwesome';
    line-height   : 20px;
  }
}

//=====================================
//  CELLS
//-------------------------------------
.cell {
  &:first-child,
  &:last-child {
    display     : flex;
    flex        : 0 0 auto;
    align-items : center;
  }

  &:first-child {
    padding-right : 20px;
  }

  &:nth-child(2) {
    flex          : 1;
    padding-right : 30px;
    overflow      : hidden;
  }
}

//=====================================
//  ICON BUTTONS
//-------------------------------------
.task-item__button {
  @include button-base;
  margin-left   : 5px;
  outline       : none;
  border        : 0;
  border-radius : 100px;
  padding       : 0;
  width         : 40px;
  height        : 40px;
  overflow      : hidden;
  background    : #2a2a2a;
  transform     : translate(0, 0);

  &:first-child {
    margin : 0;
  }
}

.icon {
  line-height : 40px !important;
  color       : #555;

  .task-item__button:hover & {
    color : #999;
  }
}

.icon--active {
  &, .task-item__button:hover & {
    color : #85bf6b;
  }
}

//=====================================
//  TITLE : STATIC
//-------------------------------------
@keyframes fade-title {
  from {
    color : #fff;
  }
  to {
    color : #666;
  }
}

@keyframes strike-title {
  from {
    width : 0;
  }
  to {
    width : 100%;
  }
}

.task-item__title {
  display       : inline-block;
  position      : relative;
  max-width     : 100%;
  line-height   : 60px;
  outline       : none;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;

  &:after {
    position   : absolute;
    left       : 0;
    bottom     : 0;
    border-top : 2px solid #85bf6b;
    width      : 0;
    height     : 46%;
    content    : '';
  }

  .task-item--completed & {
    color : #666;
  }

  .task-item--completed &:after {
    width : 100%;
  }

  .task-item--completed.task-item--status-updated & {
    animation : fade-title 120ms ease-in-out;
  }

  .task-item--completed.task-item--status-updated &:after {
    animation : strike-title 180ms ease-in-out;
  }
}

//=====================================
//  TITLE : INPUT
//-------------------------------------
.task-item__input {
  outline       : none;
  border        : 0;
  padding       : 0;
  width         : 100%;
  height        : 60px;
  color         : inherit;
  font          : inherit;
  background    : transparent;
  border-bottom : 1px solid white;

  // remove `x`
  &::-ms-clear {
    display : none;
  }
}

label {
  font-size : rem(16px);
}
